div.custom-checkbox {
  margin-bottom: 0.5rem;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

div.custom-checkbox .item {
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #f0f0f0;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

div.custom-checkbox .item.checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

div.custom-checkbox .item.invalid {
  border-color: #f87171 !important;
}

div.custom-checkbox .item .checkmark {
  width: 1rem;
  height: 1rem;
}

div.custom-checkbox .item .checkmark path {
  stroke-width: 4;
  stroke: white;
  fill: none;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  animation: checkmark 0.5s ease forwards;
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 25;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
