.form-group label {
  font-weight: 500;
}

.form-group label.optional {
  position: relative;
}

.form-group label.optional::after {
  content: attr(attr-optional);
  font-style: italic;
  color: gray;
  position: absolute;
  font-size: 0.75rem;
  top: 0.2rem;
  left: calc(100% + 0.2rem);
}
