div.form-control {
  display: flex;
  justify-content: space-between;
}

div.form-control input {
  outline: none;
  border: none;
  background-color: transparent;
  text-align: center;
  font-weight: 500;
}

div.form-control div {
  position: relative;
}

div.form-control div::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #a6a6a6;
  position: absolute;
  bottom: 0;
  left: 0;
}

div.form-control div.fill::after {
  display: none;
}

div.form-control.is-invalid div::after {
  background-color: var(--bs-danger);
}

div.form-control.is-invalid div input {
  color: var(--bs-danger);
}

div.form-control input::placeholder {
  color: transparent;
}

div.form-control.is-invalid,
div.form-control.is-valid {
  background-image: none;
}
