div.custom-radio {
  display: grid;
  align-items: center;
  margin-bottom: 0.5rem;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5rem;
}

div.custom-radio.invalid {
  color: var(--bs-danger);
}

div.custom-radio.invalid .circle {
  border-color: var(--bs-danger);
}

div.custom-radio input:checked ~ .circle {
  border-color: var(--bs-primary);
}

div.custom-radio input:checked ~ .circle .dot {
  display: block;
  width: 0.75rem;
  height: 0.75rem;
}

div.custom-radio .circle {
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid var(--bs-gray);
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

div.custom-radio .circle .dot {
  background-color: var(--bs-primary);
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

div.custom-radio .label {
  width: fit-content;
  cursor: pointer;
}
